.menu-btn {
    position:absolute;
    left:5px;
    top:5px;
    width:20px;
}
.menu-btn:hover {
    cursor:pointer;
}
.main-nav {
    display:none;
    position: fixed;
    left: 5px;
    top: 30px;
    margin: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}
.main-nav li {
    text-align: center;
    margin: 2px;
    text-decoration: none;
}
.main-nav li:hover {
    background-color: rgba(10, 10, 10, 0.2);
}
.debug-text {
    font-family:monospace;
}